<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
<meta charset="BIG5">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="/js/TestPage.js"></script>
<title>TestPage.html</title>
</head>
<body>
	This is TestPage.html.
	<br />
	<br />
	<br />
	<!-- Angular JS -->
	<span>Angular JS</span>
	<div>
		<button type="button" ng-click="testAngularJS()">testAngularJS()</button>
		{{angularString}}
	</div>
	<br />
	<br />
	<br />
	<!-- JavaScipt -->
	<span>JavaScipt</span>
	<br />
	<span th:text="${name}"></span>
	<button type="button" onclick="testJSAjax()">testJSAjax</button>
</body>
</html>