<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="BIG5">
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
<script type="text/javascript" src="/js/MainPage.js"></script>

<title>My Project</title>
</head>
<body ng-app="mainApp" ng-controller="mainCtrl">
	<p>This is mainPage.html.</p>
	<div th:text=" ${name}" /></div>

	<br /> myString : {{myString}}

	<br />

	<span ng-repeat="m in menu">
		<button id="{{m.menuId}}" ng-click="clickMenu(m.url)">{{m.menuId}}</button>
	</span>

	<br />smallPage
	<br />
	<div ng-bind-html="loadPage"></div>
</body>
</html>